    <form method="POST" action="/">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Titulo</span>
            <input name="titulo" type="text" class="form-control" placeholder="Título da tarefa"
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Prazo</span>
            <input name="prazo" type="date" class="form-control" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Horário</span>
            <input name="hora" type="time" class="form-control" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-text">Descrição</span>
            <textarea name="descricao" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <hr>
    </form>