<% tarefas.forEach((tarefa)=> { %>
    <tr>
        <td>
            <div class="mb-1 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"></label>
            </div>
        </td>
        <td>TR</td>
        <td>
            <%= tarefa.titulo %>
        </td>
        <td>
            <%= tarefa.prazo %>
        </td>
        <td>
            <%= tarefa.hora %>
        </td>
        <td>
            <%= tarefa.descricao %>
        </td>
        <td>
            <div class="row">
                <div class="col offset-3">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1"></label>    
                </div>
            </div>
            
        </td>
    </tr>
    <% }) %>