
    <% tarefas.forEach((tarefa) => { %>
    <tr>
        <td>TR</td>
        <td><%= tarefa.titulo %></td>
        <td><%= tarefa.prazo %></td>
        <td><%= tarefa.hora %></td>
        <td><%= tarefa.descricao %></td>
    </tr>
    <% }) %>
