<% tarefas.forEach((tarefa)=> { %>
    <tr data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <td>
            <div class="mb-1 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"></label>
            </div>
        </td>
        <td>TR</td>
        <td>
            <%= tarefa.titulo %>
        </td>
        <td>
            <%= tarefa.prazo %>
        </td>
        <td>
            <%= tarefa.hora %>
        </td>
       
    </tr>
    <tr class="collapse" id="collapseExample">
        <td colspan="4">
            <%= tarefa.descricao %>
        </td>
    </tr>
    <% }) %>



    