<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>KeepOnTime</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script  src="/public/js/index.js"></SCRipt>
</head>

<body>

    <div id="main-bg" class="container my-3">
        <header>

            <h1 id="title" class="display-2">KeepOnTime</h1>

        </header>
        <hr>
        <div class="d-flex">
            <div id="table-div" class="bg-light w-75  mx-2">
                <table class="table table-striped table-hover">

                    <tr class="table-dark">
                        <th>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="CHECKGLOBAL">
                                <label class="form-check-label" for="exampleCheck1"></label>
                            </div>
                        </th>
                        <th>SIGLA</th>
                        <th>TÍTULO</th>
                        <th>PRAZO</th>
                        <th>HORÁRIO</th>
                        <th>DESCRIÇÃO</th>
                    </tr>

                    <%- include('partials/tarefa.ejs') %>
                </table>

            </div>
            <div id="menu-div" class="bg-light flex-row w-25 ms-2">

                <div id="btn-set" class="btn-group-vertical gap-2 w-75 mt-4">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Nova Tarefa</button>
                    <button type="button" class="btn btn-secondary">Editar Tarefa</button>
                    <button type="button" class="btn btn-secondary">Excluir Tafera</button>
                    <button type="button" class="btn btn-success">Novo caderno</button>

                </div>

            </div>
        </div>

        <!-- Modal Nova Tarefa -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Criar nova tarefa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Titulo</span>
                                <input name="titulo" type="text" class="form-control" placeholder="Título da tarefa"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Prazo</span>
                                <input name="prazo" type="date" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Horário</span>
                                <input name="hora" type="time" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">Descrição</span>
                                <textarea name="descricao" class="form-control" aria-label="With textarea"></textarea>
                            </div>
                            <hr>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Editar Tarefa -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar tarefa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Titulo</span>
                                <input name="titulo" type="text" class="form-control" placeholder="Título da tarefa"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Prazo</span>
                                <input name="prazo" type="date" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Horário</span>
                                <input name="hora" type="time" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">Descrição</span>
                                <textarea name="descricao" class="form-control" aria-label="With textarea"></textarea>
                            </div>
                            <hr>
                            <%- include('partials/edit_tarefas.ejs') %>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
            
        </div>
        

    </div>
    <script src="js/bootstrap.js"></script>
    <script src="js/index.js"></script>

</body>

</html>