<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>KeepOnTime</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="main-bg" class="container my-3">
        <header>

            <h1 id="title" class="display-2">KeepOnTime</h1>

        </header>
        <hr>
        <div class="d-flex">
            <div id="table-div" class="bg-light w-75  mx-2">
                <table class="table table-striped table-hover">

                    <tr class="table-dark">
                        <th>SIGLA</th>
                        <th>TÍTULO</th>
                        <th>PRAZO</th>
                        <th>HORÁRIO</th>
                        <th>STATUS</th>
                    </tr>

                </table>

            </div>
            <div id="menu-div" class="bg-light flex-row w-25 ms-2">

                <div id="btn-set" class="btn-group-vertical gap-2 w-75 mt-4">
                    <button type="button" class="btn btn-secondary">Nova Tarefa</button>
                    <button type="button" class="btn btn-secondary">Editar Tarefa</button>
                    <button type="button" class="btn btn-secondary">Excluir Tafera</button>
                    <button type="button" class="btn btn-success">Novo caderno</button>
                
                </div>

            </div>
        </div>

    </div>


    <script src="js/bootstrap.js"></script>

</body>

</html>