<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>KeepOnTime</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="main-bg" class="container my-3">
        <!--MENU NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark w-100 rounded">
            <a class="navbar-brand text-white" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Nova Tarefa</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#" data-bs-toggle="modal" id="edit" data-bs-target="#editar">Editar Tarefa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#" id="delete">Excluir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Concluir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">test</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr>
        <!-- SECAO DE TAREFAS-->
        <div class="d-flex">
            <div id="table-div" class="bg-light w-100">
                <table id="teste" class="table table-striped table-hover">

                    <tr class="table-dark">
                        <th>
                            <div class="mb-3 form-check">
                                <input type="checkbox" id="globalcheck" class="form-check-input" onclick="selectAllChecks()">

                                <label class="form-check-label" for="exampleCheck1"></label>
                            </div>
                        </th>
                        <th class="d-none">SIGLA</th>
                        <th>TÍTULO</th>
                        <th>PRAZO</th>
                        <th>HORÁRIO</th>
                    </tr>

                    <%- include('partials/tarefa.ejs') %>
                </table>

            </div>

        </div>

        <!-- Modal Nova Tarefa -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Criar nova tarefa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Titulo</span>
                                <input name="titulo" type="text" class="form-control" placeholder="Título da tarefa"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Prazo</span>
                                <input name="prazo" type="date" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Horário</span>
                                <input name="hora" type="time" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">Descrição</span>
                                <textarea name="descricao" class="form-control" aria-label="With textarea"></textarea>
                            </div>
                            <hr>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Editar Tarefa -->

        <div class="modal fade" id="editar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarLabel">Editar tarefa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="removeEditContent()"></button>
                    </div>
                    <div class="modal-body">
                            <div id="modalEditMessage">
                                Nenhuma tarefa selecionada.
                            </div>
                            <form id="modalEditContent" method="POST" action="/edit">
                            
                            </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Sair</button>
                                    <button type="submit" class="btn btn-primary" onclick="submitForm()">Salvar</button>
                                </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
    <script src="js/bootstrap.js"></script>
    <script src="js/index.js"></script>

</body>

</html>