#title {
    color: #2b2619;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

#main-bg {
    background-color: #eeeee1;
    height: 90vh;
}

#table-div {
    height: 60vh;
    overflow: auto;
}

#menu-div {
    height: 60vh;
}

#btn-set {
    margin-left: 14%;
}